<div class="content">
  <div class="header">Colours Quiz</div>
  <div class="text">
    Welcome to the colours quiz. You will be presented with a series of questions. In each question
    you will have to choose which colour is the result of mixing the two or thress colours shown.
    But there's a catch, the colours are mixed in additive mode (light), so the result is not always
    the same as on paper. You will have to choose the correct colour from the options given.
  </div>
  <button routerLink="/quiz">Let's play</button>
</div>
<div class="deco">
  <img src="/images/banner.jpg" alt="banner" />
</div>
