@let q = question();
<h1>
  Question: What do you get when you add
  @for (colour of q.caption; track $index) {
    @if ($index > 0) {
      @if ($last) {
        and
      } @else {
        ,
      }
    }

    {{ colour | colourName }}
    <span class="colour-item" [style.background]="colour"></span>
  }
  ?
</h1>
<div class="answers">
  @for (answer of q.answers; track $index) {
    <div class="answer" (click)="store.addAnswer($index)">
      <div class="thumbnail" [style.background]="answer"></div>
      <div class="caption">{{ answer | colourName }}</div>
    </div>
  }
</div>
